{% extends 'base.html' %}
{% block main %}
     <form action="/teach/guide/" method="post">
     {% csrf_token %}
    <label for="" style="margin-left: 520px; margin-top: 200px;">请输入教师编号: <input type="text" name="guide_id"></label>
    <table  border="1" style="width: 800px; text-align: center; margin-top: 50px;" cellpadding="0" cellspacing="0" align="center">
        <tr>
             <td>教师姓名</td>
             <td>性别</td>
             <td>年龄</td>
             <td>学历</td>
             <td>授课专业</td>
             <td>婚否</td>
        </tr>
        {% for h in headteacher %}
        <tr>
             <td>性别</td>
             <td>年龄</td>
             <td>学历</td>
             <td>授课专业</td>
             <td>婚否</td>
        </tr>
        {% endfor %}
    </table>
        <br><label for="" style="margin-left: 350px;">班级名称: <select name="clazz" id="">
            {% for c in cls %}
                <option value="{{ c.cls_name  }}" >{{ c.cls_name  }}</option>
            {% endfor %}
        </select>
        </label>
{#        <label for="" style="margin-left: 400px;">专业: <input type="text" name="major"></label>#}
{#        <br><br><label for="" style="margin-left: 350px;">年级: <input type="text" name="grade" style="margin-left: 30px;"></label>#}
        <label for="" style="margin-left: 280px;">任职日期: <input type="date" name="service_date"></label>
         <label for="" style="margin-left: 280px;">离职日期: <input type="date" name="lizhi_date"></label>
        <br><br><input type="submit" value="提交" style="margin-left: 550px;" name="submit">
        <input type="reset" value="重置" style="margin-left: 100px;" >
         <a href="/teach/showguide2/" style="margin-left: 100px;">查询</a>
    </form>


{% endblock %}


